[entity]
name = "nebenkostenabrechnung"
table_name = "nebenkostenabrechnungen"
label = "labels.entity.nebenkostenabrechnung"
label_plural = "labels.entity.nebenkostenabrechnungen"
icon = "FileSpreadsheet"
primary_key = "id"

[entity.fields.id]
type = "uuid"
auto_generate = true
visible = false

[entity.fields.objekt_id]
type = "uuid"
required = true
reference = "objekt"
label = "labels.nk.objekt"

[entity.fields.jahr]
type = "integer"
required = true
min = 2000
max = 2100
label = "labels.nk.jahr"

[entity.fields.zeitraum_von]
type = "date"
required = true
label = "labels.nk.zeitraum_von"

[entity.fields.zeitraum_bis]
type = "date"
required = true
label = "labels.nk.zeitraum_bis"

[entity.fields.status]
type = "enum"
required = true
options = ["entwurf", "erstellt", "versendet"]
default = "entwurf"
label = "labels.nk.status"

[entity.fields.erstellt_am]
type = "datetime"
auto_generate = true
label = "labels.common.erstellt_am"

[entity.fields.notiz]
type = "text"
label = "labels.common.notiz"

[entity.relations]
objekt = { type = "many_to_one", target = "objekt", foreign_key = "objekt_id" }
positionen = { type = "one_to_many", target = "nebenkostenabrechnung_position", foreign_key = "abrechnung_id" }

[entity.computed]
gesamtkosten = { formula = "sum(positionen.gesamtkosten)" }
