[table]
entity = "vertrag"
row_click = "navigate"
row_click_route = "/vertraege/:id"

[[table.columns]]
field = "vertragsnummer"
label = "labels.vertrag.vertragsnummer"
sortable = true
width = "10%"

[[table.columns]]
field = "mieter.computed.display_name"
label = "labels.vertrag.mieter"
sortable = true
width = "20%"

[[table.columns]]
field = "einheit.bezeichnung"
label = "labels.vertrag.einheit"
sortable = true
width = "15%"

[[table.columns]]
field = "beginn"
label = "labels.vertrag.beginn"
sortable = true
width = "10%"
format = "date"

[[table.columns]]
field = "ende"
label = "labels.vertrag.ende"
sortable = true
width = "10%"
format = "date"
empty_text = "unbefristet"

[[table.columns]]
field = "computed.gesamtmiete"
label = "labels.vertrag.gesamtmiete"
sortable = true
width = "12%"
format = "currency"

[[table.columns]]
field = "computed.ist_aktiv"
label = "labels.vertrag.status"
width = "10%"
display = "status_indicator"
status_map = { true = { label = "aktiv", color = "green" }, false = { label = "beendet", color = "gray" } }

[table.row_actions]
edit = { icon = "Pencil", dialog = "forms/vertrag.form" }
kuendigen = { icon = "XCircle", dialog = "dialogs/kuendigung", visible_if = { field = "computed.ist_aktiv", equals = true } }
